body  {
    background-image: url(Images/jazz.png);
  }
  div {
      background-color: lightgray;
  }
  .topnav {
      overflow: hidden;
      background-color: #333;
    }

    .topnav a {
      float: left;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
    }

    .topnav a:hover {
      background-color: #ddd;
      color: black;
    }

    .topnav a.active {
      background-color: #04AA6D;
      color: white;
    }
    .Song1, .Song2, .Song3, .Song4, .Song5    {
      background-color: #fff;
      padding: 10px;
      border-radius: 20px;
      margin: 20px auto;
      max-width: 750px;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
      text-align: center;
      list-style-type: none;
      font-size: 20px;
    }
    a {
      text-decoration: none;
      font-family: 'Arial', sans-serif;
      color: #333;
    }
    img {
      width: 80%;
      height: 350px;
      border-radius: 5px;
    }
    .copyright {
      text-align: center;
      background-color: #1DB954;
      color: #fff;
      padding: 10px 5px;
      font-size: 20px;
    }
    li, ul  {
      list-style-type: none;
    }
    .copyright {
      text-align: center;
      background-color: #1DB954;
      color: white;
      padding: 10px 5px;
      font-size: 20px;
    }